n8n/workflows/recruitment_validation_circuit.json
[{"updatedAt":"2026-06-21T15:17:02.972Z","createdAt":"2026-06-15T22:30:31.123Z","id":"vNV54OIh8jMouvWm","name":"Recruitment Validation Circuit copy","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"cf3b9299-10e8-480c-ab14-1a46206ed1ca","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"e6cce62f-76d1-40de-b3ec-26e22784ff11","name":"Webhook","webhookId":"cf3b9299-10e8-480c-ab14-1a46206ed1ca"},{"parameters":{"url":"=http://localhost:5000/api/demandes/internal/{{ $json.body.demandeId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer kilani-n8n-secret-2026"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,0],"id":"ead37b7d-baf8-4be4-8dea-803b39b58a61","name":"HTTP Request"},{"parameters":{"jsCode":"const raw = $('Webhook').first().json;\nconst body = raw.body ?? raw;\nconst demande = $('HTTP Request').first().json.data;\n\nconst token = body.token;\n\nconsole.log('[n8n] Token recu du backend:', token);\nconsole.log('[n8n] URL de validation:', `http://localhost:5173/validation/${demande.id}?token=${token}`);\n\nif (!token) {\n  throw new Error('Aucun token recu du backend');\n}\n\n// DECISION (rejet ou validation finale)\nif (body.type === 'DECISION') {\n  const dateSouhaitee = new Date(demande.dateSouhaitee)\n    .toLocaleDateString('fr-TN', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n  return [{\n    json: {\n      type:           'DECISION',\n      decision:       body.decision,\n      demandeId:      demande.id,\n      reference:      demande.reference,\n      titre:          demande.intitulePoste,\n      departement:    demande.direction?.nom ?? 'N/A',\n      demandeurNom:   demande.createur?.nom ?? 'N/A',\n      demandeurEmail: demande.createur?.email ?? '',\n      niveauPoste:    body.niveauPoste,\n      budgetMin:      demande.budgetMin,\n      budgetMax:      demande.budgetMax,\n      etape:          body.etape,\n      totalEtapes:    body.totalEtapes,\n      roleValidateur: body.roleValidateur ?? 'N/A',\n      dateSouhaitee,\n      platformUrl:    `http://localhost:5173/validation/${demande.id}?token=${token}`,\n    }\n  }];\n}\n\n// NOTIFICATION validateur (flow normal)\nconst etape = body.etape ?? 1;\nconst roleActuel = body.roleActuel;\n\nif (!roleActuel) {\n  throw new Error(`roleActuel manquant dans le body pour etape ${etape}`);\n}\n\nconst totalEtapes = body.totalEtapes ?? demande.totalEtapes ?? 0;\nconst isLast = etape === totalEtapes;\nconst isRelance = body.isRelance ?? false;\n\nconst priorityColor = {\n  HAUTE:   { bg: '#fee2e2', text: '#dc2626' },\n  MOYENNE: { bg: '#fef3c7', text: '#d97706' },\n  BASSE:   { bg: '#dcfce7', text: '#16a34a' },\n};\nconst pColor = priorityColor[demande.priorite] || priorityColor.MOYENNE;\n\nconst dateSouhaitee = new Date(demande.dateSouhaitee)\n  .toLocaleDateString('fr-TN', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\nreturn [{\n  json: {\n    type:           'NOTIFICATION',\n    demandeId:      demande.id,\n    reference:      demande.reference,\n    titre:          demande.intitulePoste,\n    departement:    demande.direction?.nom ?? 'N/A',\n    demandeurNom:   demande.createur?.nom ?? 'N/A',\n    demandeurEmail: demande.createur?.email ?? '',\n    niveauPoste:    body.niveauPoste,\n    budgetMin:      demande.budgetMin,\n    budgetMax:      demande.budgetMax,\n    typeContrat:    demande.typeContrat,\n    priorite:       demande.priorite,\n    prioriteBg:     pColor.bg,\n    prioriteText:   pColor.text,\n    justification:  demande.justification,\n    dateSouhaitee,\n    etape,\n    totalEtapes,\n    roleActuel,\n    isLast,\n    isRelance,\n    platformUrl: `http://localhost:5173/validation/${demande.id}?token=${token}`,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"e9614585-bc99-4a5a-a3bf-e3bf6ea014ea","name":"Code in JavaScript"},{"parameters":{"url":"=http://localhost:5000/api/users/by-role/{{ $('Code in JavaScript').first().json.roleActuel }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer kilani-n8n-secret-2026"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[832,224],"id":"e824c10b-a294-464c-b1aa-1f6dacc64fc0","name":"HTTP Request1"},{"parameters":{"fromEmail":"noreply@kilani.tn","toEmail":"={{ $('HTTP Request1').item.json.data.email }}","subject":"=[Kilani RH] Validation requise — Étape {{ $('Code in JavaScript').item.json.etape }}/{{ $('Code in JavaScript').item.json.totalEtapes }} — {{ $('Code in JavaScript').item.json.titre }}","html":"=<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:30px\">\n<div style=\"max-width:580px;margin:0 auto;background:#ffffff;border-radius:6px;border:1px solid #e0e0e0;overflow:hidden\">\n\n  <!-- Header -->\n  <div style=\"background:#ffffff;padding:28px 32px;border-bottom:3px solid #2b6cb0\">\n    <p style=\"margin:0;font-size:18px;font-weight:700;color:#2b6cb0\">Kilani RH</p>\n    <p style=\"margin:4px 0 0;font-size:12px;color:#999\">Plateforme de recrutement</p>\n  </div>\n\n  <!-- Badge -->\n  <div style=\"background:#ebf8ff;padding:14px 32px;border-bottom:1px solid #bee3f8\">\n    <p style=\"margin:0;font-size:12px;font-weight:700;color:#2b6cb0;text-transform:uppercase;letter-spacing:1px\">\n      Validation requise — Etape {{ $('Code in JavaScript').first().json.etape }} / {{ $('Code in JavaScript').first().json.totalEtapes }}\n    </p>\n  </div>\n\n  <!-- Body -->\n  <div style=\"padding:32px\">\n    <p style=\"margin:0 0 16px;font-size:15px;color:#333\">\n      Bonjour <strong>{{ $('HTTP Request1').first().json.data.prenom }} {{ $('HTTP Request1').first().json.data.nom }}</strong>,\n    </p>\n    <p style=\"margin:0 0 28px;font-size:14px;color:#555;line-height:1.7\">\n      Une demande de recrutement est en attente de votre validation en tant que\n      <strong style=\"color:#2b6cb0\">{{ $('Code in JavaScript').first().json.roleActuel }}</strong>.\n      Connectez-vous a la plateforme pour consulter les details et prendre votre decision.\n    </p>\n\n    <!-- Details -->\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:28px\">\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999;width:40%\">Reference</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333;font-weight:700;font-family:monospace\">{{ $('Code in JavaScript').first().json.reference }}</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Intitule du poste</td>\n        <td style=\"padding:10px 0;font-size:13px;color:#333;font-weight:700\">{{ $('Code in JavaScript').first().json.titre }}</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Niveau du poste</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333\">{{ $('Code in JavaScript').first().json.niveauPoste }}</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Direction</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333\">{{ $('Code in JavaScript').first().json.departement }}</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Budget mensuel</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333;font-weight:600\">{{ $('Code in JavaScript').first().json.budgetMin }} — {{ $('Code in JavaScript').first().json.budgetMax }} DT</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Type de contrat</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333\">{{ $('Code in JavaScript').first().json.typeContrat }}</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Priorite</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333;font-weight:700\">{{ $('Code in JavaScript').first().json.priorite }}</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Demande par</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333\">{{ $('Code in JavaScript').first().json.demandeurNom }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Date souhaitee</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333\">{{ $('Code in JavaScript').first().json.dateSouhaitee }}</td>\n      </tr>\n    </table>\n\n    <!-- Justification -->\n    <p style=\"margin:0 0 6px;font-size:11px;font-weight:700;color:#999;text-transform:uppercase;letter-spacing:1px\">Justification</p>\n    <p style=\"margin:0 0 28px;font-size:13px;color:#555;line-height:1.6;padding:14px 16px;background:#f9f9f9;border-left:3px solid #2b6cb0;border-radius:0 4px 4px 0\">\n      {{ $('Code in JavaScript').first().json.justification }}\n    </p>\n\n    <!-- Delai -->\n    <p style=\"margin:0 0 28px;font-size:13px;color:#666;line-height:1.6;padding:12px 16px;background:#fffbeb;border:1px solid #fde68a;border-radius:4px\">\n      Delai de validation : <strong>48 heures</strong> a compter de la reception de cet email. Passe ce delai, un rappel vous sera automatiquement envoye.\n    </p>\n\n    <!-- Button -->\n    <div style=\"text-align:center\">\n      <a href=\"{{ $('Code in JavaScript').first().json.platformUrl }}\"\n         style=\"display:inline-block;background:#2b6cb0;color:#ffffff;padding:12px 36px;border-radius:4px;text-decoration:none;font-size:14px;font-weight:700\">\n        Acceder a la demande\n      </a>\n    </div>\n\n    <p style=\"margin:16px 0 0;font-size:11px;color:#aaa;text-align:center\">\n      La validation ou le refus s'effectue uniquement depuis la plateforme Kilani RH.\n    </p>\n  </div>\n\n  <!-- Footer -->\n  <div style=\"padding:18px 32px;border-top:1px solid #f0f0f0;background:#fafafa\">\n    <p style=\"margin:0;font-size:11px;color:#aaa;text-align:center\">\n      Kilani RH — Notification automatique — Ne pas repondre a cet email — 2026 Kilani Groupe\n    </p>\n  </div>\n\n</div>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1264,496],"id":"73ca308f-55a5-4b44-b73e-5879eb324040","name":"Send an Email","webhookId":"b2842f63-0601-4dd2-9d0e-3bba619c5f4a","credentials":{"smtp":{"id":"xsXlp6xhJmIlkPHl","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"=http://localhost:5000/api/demandes/internal/{{ $('Code in JavaScript').first().json.demandeId }}/check-relance","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer kilani-n8n-secret-2026"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{ \"isSecondCheck\": false }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1664,496],"id":"e31f5395-e593-40ef-acc9-59f301d0547a","name":"HTTP Request5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"02f9f7a2-719d-4486-9eb3-60ce71a28584","leftValue":"={{ $('Code in JavaScript').first().json.isRelance }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1088,224],"id":"30b6fb87-e0f7-48dc-aa8b-993c1f891855","name":"If Relance"},{"parameters":{"fromEmail":"noreply@kilani.tn","toEmail":"={{ $('HTTP Request5').first().json.validateurBloquant?.email || $('HTTP Request1').first().json.data?.email }}","subject":"=[Kilani RH] RAPPEL — Validation en attente — {{ $json.demande.intitulePoste }}","html":"=<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:30px\">\n<div style=\"max-width:580px;margin:0 auto;background:#ffffff;border-radius:6px;border:1px solid #e0e0e0;overflow:hidden\">\n  <div style=\"background:#ffffff;padding:28px 32px;border-bottom:3px solid #D97706\">\n    <p style=\"margin:0;font-size:18px;font-weight:700;color:#1E1A0E\">Kilani RH</p>\n    <p style=\"margin:4px 0 0;font-size:12px;color:#999\">Plateforme de recrutement</p>\n  </div>\n  <div style=\"background:#FEF3CD;padding:14px 32px;border-bottom:1px solid #F0D060\">\n    <p style=\"margin:0;font-size:12px;font-weight:700;color:#D97706;text-transform:uppercase;letter-spacing:1px\">\n      Rappel — Action requise\n    </p>\n  </div>\n  <div style=\"padding:32px\">\n    <p style=\"margin:0 0 16px;font-size:15px;color:#333\">\n      Bonjour <strong>{{ $json.validateurBloquant.nom }}</strong>,\n    </p>\n    <p style=\"margin:0 0 28px;font-size:14px;color:#555;line-height:1.7\">\n      Le délai de 48h est dépassé. La demande <strong>{{ $json.demande.reference }}</strong> —\n      <strong>{{ $json.demande.intitulePoste }}</strong> attend toujours votre validation\n      en tant que <strong>{{ $json.validateurBloquant.role }}</strong>.\n    </p>\n    <p style=\"margin:0 0 28px;font-size:13px;color:#92400E;line-height:1.6;padding:14px 16px;background:#FEF3CD;border-left:3px solid #D97706;border-radius:0 4px 4px 0;font-weight:600\">\n      Merci de traiter cette demande dans les plus brefs délais. Sans réponse, la demande sera automatiquement annulée.\n    </p>\n    <div style=\"text-align:center;margin:0 0 8px\">\n      <a href=\"http://localhost:5173/login?redirect=/demandes/{{ $json.demande.id }}\"\n         style=\"display:inline-block;background:#C9A84C;color:#1E1A0E;padding:14px 40px;border-radius:8px;text-decoration:none;font-weight:700;font-size:15px\">\n        Traiter la demande maintenant →\n      </a>\n    </div>\n  </div>\n  <div style=\"padding:18px 32px;border-top:1px solid #f0f0f0;background:#fafafa\">\n    <p style=\"margin:0;font-size:11px;color:#aaa;text-align:center\">\n      Kilani RH — Notification automatique — Ne pas répondre à cet email — 2026 Kilani Groupe\n    </p>\n  </div>\n</div>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2080,208],"id":"3ff33901-470a-4970-8191-421b00347d28","name":"Send Email Rappel","webhookId":"5ff19d96-4391-45d3-8b4d-4b7894aae872","credentials":{"smtp":{"id":"xsXlp6xhJmIlkPHl","name":"SMTP account"}}},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1488,496],"id":"11d74191-f3ac-46f7-a78f-68852171128a","name":"Wait","webhookId":"1c20006c-6061-47b2-8372-3ec70944ceb8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a8ec0e18-a864-45d9-854b-3fc6a476ec68","leftValue":"={{ $json.data.statut }}","rightValue":"VALIDEE","operator":{"type":"string","operation":"notEquals"}},{"id":"51a893a1-d9ae-4d3c-97e4-daea8c0ed276","leftValue":"={{ $json.data.statut }}","rightValue":"REJETTE","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1808,0],"id":"ad807ffb-0101-4997-a11a-9e1db02ed3d9","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8154b8c3-b586-4e65-bf66-7463281f52a5","leftValue":"={{ $('Code in JavaScript').first().json.type }}","rightValue":"DECISION","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[656,0],"id":"59b56afa-e667-4a37-aafa-d5ee3dff6d8d","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"92c96777-0ec3-49d2-8c73-27257603bcea","leftValue":"={{ $('Code in JavaScript').first().json.decision }}","rightValue":"REJETEE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1088,-256],"id":"0c4d2a4f-d25b-4b2d-94db-7d1841d78439","name":"If2"},{"parameters":{"fromEmail":"noreply@kilani.tn","toEmail":"={{ $('Code in JavaScript').first().json.demandeurEmail }}","subject":"=[Kilani RH] Demande rejetée — {{ $('Code in JavaScript').first().json.titre }}","html":"=<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:30px\">\n<div style=\"max-width:580px;margin:0 auto;background:#ffffff;border-radius:6px;border:1px solid #e0e0e0;overflow:hidden\">\n\n  <!-- Header -->\n  <div style=\"background:#ffffff;padding:28px 32px;border-bottom:3px solid #e53e3e\">\n    <p style=\"margin:0;font-size:18px;font-weight:700;color:#e53e3e\">Kilani RH</p>\n    <p style=\"margin:4px 0 0;font-size:12px;color:#999\">Plateforme de recrutement</p>\n  </div>\n\n  <!-- Badge -->\n  <div style=\"background:#fff5f5;padding:14px 32px;border-bottom:1px solid #fed7d7\">\n    <p style=\"margin:0;font-size:12px;font-weight:700;color:#e53e3e;text-transform:uppercase;letter-spacing:1px\">\n      Demande rejetee\n    </p>\n  </div>\n\n  <!-- Body -->\n  <div style=\"padding:32px\">\n    <p style=\"margin:0 0 16px;font-size:15px;color:#333\">\n      Bonjour <strong>{{ $('Code in JavaScript').first().json.demandeurNom }}</strong>,\n    </p>\n    <p style=\"margin:0 0 28px;font-size:14px;color:#555;line-height:1.7\">\n      Votre demande de recrutement a ete <strong style=\"color:#e53e3e\">rejetee a l'etape\n      {{ $('Code in JavaScript').first().json.etape }}/{{ $('Code in JavaScript').first().json.totalEtapes }}</strong>\n      par <strong>{{ $('Code in JavaScript').first().json.roleValidateur }}</strong>.\n    </p>\n\n    <!-- Details -->\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:28px\">\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999;width:40%\">Reference</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333;font-weight:700;font-family:monospace\">{{ $('Code in JavaScript').first().json.reference }}</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Poste</td>\n        <td style=\"padding:10px 0;font-size:13px;color:#333;font-weight:700\">{{ $('Code in JavaScript').first().json.titre }}</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Direction</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333\">{{ $('Code in JavaScript').first().json.departement }}</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Rejete par</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#e53e3e;font-weight:700\">{{ $('Code in JavaScript').first().json.roleValidateur }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Etape</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333\">{{ $('Code in JavaScript').first().json.etape }} / {{ $('Code in JavaScript').first().json.totalEtapes }}</td>\n      </tr>\n    </table>\n\n    <!-- Note -->\n    <p style=\"margin:0 0 28px;font-size:13px;color:#666;line-height:1.6;padding:14px 16px;background:#f9f9f9;border-left:3px solid #e53e3e;border-radius:0 4px 4px 0\">\n      Vous pouvez modifier votre demande et la soumettre a nouveau au circuit de validation.\n    </p>\n\n    <!-- Button -->\n    <div style=\"text-align:center\">\n      <a href=\"{{ $('Code in JavaScript').first().json.platformUrl }}\"\n         style=\"display:inline-block;background:#e53e3e;color:#ffffff;padding:12px 36px;border-radius:4px;text-decoration:none;font-size:14px;font-weight:700\">\n        Acceder a ma demande\n      </a>\n    </div>\n  </div>\n\n  <!-- Footer -->\n  <div style=\"padding:18px 32px;border-top:1px solid #f0f0f0;background:#fafafa\">\n    <p style=\"margin:0;font-size:11px;color:#aaa;text-align:center\">\n      Kilani RH — Notification automatique — Ne pas repondre a cet email — 2026 Kilani Groupe\n    </p>\n  </div>\n\n</div>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1360,-464],"id":"17098657-7271-427e-9e01-ee08e19ffadc","name":"Send Email Rejet","webhookId":"5ffb9603-4658-45b1-aff5-d40a7b65aa12","credentials":{"smtp":{"id":"xsXlp6xhJmIlkPHl","name":"SMTP account"}}},{"parameters":{"fromEmail":"noreply@kilani.tn","toEmail":"={{ $('Code in JavaScript').first().json.demandeurEmail }}","subject":"=[Kilani RH] Demande validée ✓ — {{ $('Code in JavaScript').first().json.titre }}","html":"=<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:30px\">\n<div style=\"max-width:580px;margin:0 auto;background:#ffffff;border-radius:6px;border:1px solid #e0e0e0;overflow:hidden\">\n\n  <!-- Header -->\n  <div style=\"background:#ffffff;padding:28px 32px;border-bottom:3px solid #38a169\">\n    <p style=\"margin:0;font-size:18px;font-weight:700;color:#38a169\">Kilani RH</p>\n    <p style=\"margin:4px 0 0;font-size:12px;color:#999\">Plateforme de recrutement</p>\n  </div>\n\n  <!-- Badge -->\n  <div style=\"background:#f0fff4;padding:14px 32px;border-bottom:1px solid #c6f6d5\">\n    <p style=\"margin:0;font-size:12px;font-weight:700;color:#38a169;text-transform:uppercase;letter-spacing:1px\">\n      Demande validee\n    </p>\n  </div>\n\n  <!-- Body -->\n  <div style=\"padding:32px\">\n    <p style=\"margin:0 0 16px;font-size:15px;color:#333\">\n      Bonjour <strong>{{ $('Code in JavaScript').first().json.demandeurNom }}</strong>,\n    </p>\n    <p style=\"margin:0 0 28px;font-size:14px;color:#555;line-height:1.7\">\n      Votre demande de recrutement a ete <strong style=\"color:#38a169\">validee par l'ensemble des\n      {{ $('Code in JavaScript').first().json.totalEtapes }} niveaux</strong>\n      du circuit de validation Kilani Groupe.\n    </p>\n\n    <!-- Details -->\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:28px\">\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999;width:40%\">Reference</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333;font-weight:700;font-family:monospace\">{{ $('Code in JavaScript').first().json.reference }}</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Poste</td>\n        <td style=\"padding:10px 0;font-size:13px;color:#333;font-weight:700\">{{ $('Code in JavaScript').first().json.titre }}</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Direction</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333\">{{ $('Code in JavaScript').first().json.departement }}</td>\n      </tr>\n      <tr style=\"border-bottom:1px solid #f0f0f0\">\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Budget</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#333;font-weight:600\">{{ $('Code in JavaScript').first().json.budgetMin }} — {{ $('Code in JavaScript').first().json.budgetMax }} DT</td>\n      </tr>\n      <tr>\n        <td style=\"padding:10px 0;font-size:12px;color:#999\">Niveaux valides</td>\n        <td style=\"padding:10px 0;font-size:12px;color:#38a169;font-weight:700\">\n          {{ $('Code in JavaScript').first().json.totalEtapes }} / {{ $('Code in JavaScript').first().json.totalEtapes }} valides\n        </td>\n      </tr>\n    </table>\n\n    <!-- Note -->\n    <p style=\"margin:0 0 28px;font-size:13px;color:#666;line-height:1.6;padding:14px 16px;background:#f9f9f9;border-left:3px solid #38a169;border-radius:0 4px 4px 0\">\n      Le DRH va maintenant proceder a la creation de l'offre d'emploi et au lancement du processus de recrutement.\n    </p>\n\n    <!-- Button -->\n    <div style=\"text-align:center\">\n      <a href=\"{{ $('Code in JavaScript').first().json.platformUrl }}\"\n         style=\"display:inline-block;background:#38a169;color:#ffffff;padding:12px 36px;border-radius:4px;text-decoration:none;font-size:14px;font-weight:700\">\n        Voir ma demande\n      </a>\n    </div>\n  </div>\n\n  <!-- Footer -->\n  <div style=\"padding:18px 32px;border-top:1px solid #f0f0f0;background:#fafafa\">\n    <p style=\"margin:0;font-size:11px;color:#aaa;text-align:center\">\n      Kilani RH — Notification automatique — Ne pas repondre a cet email — 2026 Kilani Groupe\n    </p>\n  </div>\n\n</div>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1376,-112],"id":"c0f02730-ba6c-4629-95cc-20a19db1f678","name":"Send an Email1","webhookId":"ddee99bf-4f2c-44e8-8b3f-dd66a349450a","credentials":{"smtp":{"id":"xsXlp6xhJmIlkPHl","name":"SMTP account"}}},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2288,208],"id":"db4843e3-06dc-4d18-a4e8-0e35f3a7d5ac","name":"Wait1","webhookId":"49d973b8-1e9c-4a79-a2b8-ce5bb2894e0e"},{"parameters":{"method":"POST","url":"=http://localhost:5000/api/demandes/internal/{{ $('Code in JavaScript').first().json.demandeId }}/check-relance","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer kilani-n8n-secret-2026"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{ \"isSecondCheck\": true }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2496,208],"id":"210cbbce-0938-4e7b-a5c4-ae3599ed4ac3","name":"HTTP Request2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6a7aece7-b006-45d3-99c9-1205cf94b376","leftValue":"={{ $json.action }}","rightValue":"TIMEOUT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2704,208],"id":"2d67f0c8-c53e-4a23-957d-a49dada598d6","name":"If3"},{"parameters":{"fromEmail":"noreply@kilani.tn","toEmail":"={{ $('HTTP Request2').first().json.createur.email }}","subject":"=[Kilani RH] Demande annulée — Délai de validation dépassé","html":"=<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:30px\">\n<div style=\"max-width:580px;margin:0 auto;background:#ffffff;border-radius:6px;border:1px solid #e0e0e0;overflow:hidden\">\n\n  <div style=\"background:#ffffff;padding:28px 32px;border-bottom:3px solid #dc2626\">\n    <p style=\"margin:0;font-size:18px;font-weight:700;color:#2b6cb0\">Kilani RH</p>\n    <p style=\"margin:4px 0 0;font-size:12px;color:#999\">Plateforme de recrutement</p>\n  </div>\n\n  <div style=\"background:#fef2f2;padding:14px 32px;border-bottom:1px solid #fecaca\">\n    <p style=\"margin:0;font-size:12px;font-weight:700;color:#dc2626;text-transform:uppercase;letter-spacing:1px\">\n      Demande annulee\n    </p>\n  </div>\n\n  <div style=\"padding:32px\">\n    <p style=\"margin:0 0 16px;font-size:15px;color:#333\">\n      Bonjour <strong>{{ $('HTTP Request2').first().json.createur.prenom }} {{ $('HTTP Request2').first().json.createur.nom }}</strong>,\n    </p>\n    <p style=\"margin:0 0 28px;font-size:14px;color:#555;line-height:1.7\">\n      Votre demande <strong>{{ $('HTTP Request2').first().json.demande.reference }}</strong> —\n      <strong>{{ $('HTTP Request2').first().json.demande.intitulePoste }}</strong>\n      a ete automatiquement annulee car <strong>{{ $('HTTP Request2').first().json.validateurBloquant.role }}</strong>\n      ({{ $('HTTP Request2').first().json.validateurBloquant.nom }}) n'a pas repondu dans le delai prevu\n      a l'etape {{ $('HTTP Request2').first().json.demande.etape }} / {{ $('HTTP Request2').first().json.demande.totalEtapes }}.\n    </p>\n\n    <p style=\"margin:0 0 28px;font-size:13px;color:#555;line-height:1.6;padding:14px 16px;background:#f9f9f9;border-left:3px solid #2b6cb0;border-radius:0 4px 4px 0\">\n      Le DRH a ete notifie et peut relancer cette demande manuellement.\n    </p>\n  </div>\n\n  <div style=\"padding:18px 32px;border-top:1px solid #f0f0f0;background:#fafafa\">\n    <p style=\"margin:0;font-size:11px;color:#aaa;text-align:center\">\n      Kilani RH — Notification automatique — Ne pas repondre a cet email — 2026 Kilani Groupe\n    </p>\n  </div>\n\n</div>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2928,-112],"id":"87756a02-8f1a-4b9f-9d02-1278943e0a94","name":"Send an Email2","webhookId":"ef95fb2f-6505-4bd8-a393-36b02258ae67","credentials":{"smtp":{"id":"xsXlp6xhJmIlkPHl","name":"SMTP account"}}},{"parameters":{"fromEmail":"noreply@kilani.tn","toEmail":"={{ $json.drh.email }}","subject":"=[Kilani RH] ALERTE — Demande bloquée et annulée","html":"=<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:30px\">\n<div style=\"max-width:580px;margin:0 auto;background:#ffffff;border-radius:6px;border:1px solid #e0e0e0;overflow:hidden\">\n\n  <div style=\"background:#ffffff;padding:28px 32px;border-bottom:3px solid #d97706\">\n    <p style=\"margin:0;font-size:18px;font-weight:700;color:#2b6cb0\">Kilani RH</p>\n    <p style=\"margin:4px 0 0;font-size:12px;color:#999\">Plateforme de recrutement</p>\n  </div>\n\n  <div style=\"background:#fffbeb;padding:14px 32px;border-bottom:1px solid #fde68a\">\n    <p style=\"margin:0;font-size:12px;font-weight:700;color:#d97706;text-transform:uppercase;letter-spacing:1px\">\n      Action requise — DRH\n    </p>\n  </div>\n\n  <div style=\"padding:32px\">\n    <p style=\"margin:0 0 16px;font-size:15px;color:#333\">\n      Bonjour <strong>{{ $('HTTP Request2').first().json.drh.prenom }} {{ $('HTTP Request2').first().json.drh.nom }}</strong>,\n    </p>\n    <p style=\"margin:0 0 28px;font-size:14px;color:#555;line-height:1.7\">\n      La demande <strong>{{ $('HTTP Request2').first().json.demande.reference }}</strong>\n      ({{ $('HTTP Request2').first().json.demande.intitulePoste }}, {{ $('HTTP Request2').first().json.demande.direction }})\n      a ete automatiquement annulee : <strong>{{ $('HTTP Request2').first().json.validateurBloquant.role }}</strong>\n      ({{ $('HTTP Request2').first().json.validateurBloquant.nom }}) n'a pas valide l'etape\n      {{ $('HTTP Request2').first().json.demande.etape }} / {{ $('HTTP Request2').first().json.demande.totalEtapes }} dans le delai imparti.\n    </p>\n\n    <div style=\"text-align:center\">\n      <a href=\"http://localhost:5173/login?redirect=/demandes/{{ $('HTTP Request2').first().json.demande.id }}\"\n         style=\"display:inline-block;background:#2b6cb0;color:#ffffff;padding:12px 36px;border-radius:4px;text-decoration:none;font-size:14px;font-weight:700\">\n        Relancer la demande\n      </a>\n    </div>\n  </div>\n\n  <div style=\"padding:18px 32px;border-top:1px solid #f0f0f0;background:#fafafa\">\n    <p style=\"margin:0;font-size:11px;color:#aaa;text-align:center\">\n      Kilani RH — Notification automatique — Ne pas repondre a cet email — 2026 Kilani Groupe\n    </p>\n  </div>\n\n</div>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[3024,64],"id":"d8797910-06d8-436c-877b-b3bdab3b5fa4","name":"Send an Email3","webhookId":"dc2d9b9d-0e6f-46d6-b7a0-319bc7362626","credentials":{"smtp":{"id":"xsXlp6xhJmIlkPHl","name":"SMTP account"}}}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"If Relance","type":"main","index":0}]]},"Send an Email":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"If","type":"main","index":0}]]},"If Relance":{"main":[[{"node":"Send Email Rappel","type":"main","index":0}],[{"node":"Send an Email","type":"main","index":0}]]},"Send Email Rappel":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"If":{"main":[[{"node":"Send Email Rappel","type":"main","index":0}],[]]},"If1":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Send Email Rejet","type":"main","index":0}],[{"node":"Send an Email1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Send an Email3","type":"main","index":0}]]},"Send an Email3":{"main":[[{"node":"Send an Email2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aca7b7b4-0afa-4203-bce0-9411bed2df7d","activeVersionId":"aca7b7b4-0afa-4203-bce0-9411bed2df7d","versionCounter":337,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-15T22:30:31.126Z","createdAt":"2026-06-15T22:30:31.126Z","role":"workflow:owner","workflowId":"vNV54OIh8jMouvWm","projectId":"7nFgD5uZvZPTWJUt","project":{"updatedAt":"2026-06-12T10:28:54.362Z","createdAt":"2026-06-12T10:22:15.527Z","id":"7nFgD5uZvZPTWJUt","name":"Mariem Habouria <mariem.habouria@esprit.tn>","type":"personal","icon":null,"description":null,"creatorId":"75870628-b43d-4e2d-b25b-fa44e441a219"}}]}]